@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@material-tailwind/react/tailwind.css';

@layer utilities {
    .-translate-x-1\/2 {
        --tw-translate-x: -50% !important;
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    @variants responsive {
        .masonry {
            column-count: 3;
            column-gap: 20px;
        }
        .break-inside {
            break-inside: avoid;
        }
    }
}

.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68D391;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #68D391;
  }